p, a {
    font-size: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.main--none {
    display: none;
}
.products {
    padding-left: 160px;
    cursor: pointer;       
}
.products--none {
    display: none; 
}
.products__about {
    margin-left: 250px;
    width: 50px;
    padding: 40px 90px; 
    border: 1px solid black;   
}
.products__about--none {
    display: none;
}
.form {
    padding: 20px;
    border: 1px solid black;
    width: 550px;
    z-index: 2;
    margin: 0 auto;
}
.formDisplay {
    display: none;
}
input, select, textarea, button {
    margin-top: 20px;
}
textarea {
    resize: none;
  }