.main-menu {
    position: fixed;
    left: 25px;    
    top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-menu__item {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    display: inline-flex;
    align-items: center;
    transition: 0.5s;
}